homework-16-n8n-automation/workflow.json
{
  "name": "Google Form → Telegram Notifications",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1Q1Hic5NkNWroDJrAr7cvUuCwUkgduw8p8kANZwLJoqg",
          "mode": "list",
          "cachedResultName": "Support Request Form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q1Hic5NkNWroDJrAr7cvUuCwUkgduw8p8kANZwLJoqg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1421807683,
          "mode": "list",
          "cachedResultName": "Ответы на форму (1)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q1Hic5NkNWroDJrAr7cvUuCwUkgduw8p8kANZwLJoqg/edit#gid=1421807683"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8a3246ac-58da-4a7b-a9cc-0619508cf300",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "yO7eFsp5jEOr7fqY",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS form_submissions (\n  id SERIAL PRIMARY KEY,\n  email VARCHAR(255) UNIQUE NOT NULL,\n  name VARCHAR(255),\n  request_type VARCHAR(100),\n  priority VARCHAR(50),\n  status VARCHAR(50) DEFAULT 'pending',\n  created_at TIMESTAMP DEFAULT NOW()\n);\n\nSELECT EXISTS (\n  SELECT 1 FROM form_submissions \n  WHERE email = '{{ $json[\"Email\"] }}'\n) as \"exists\";",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "052a5184-f3f5-4149-b4b9-40ded9c7e85e",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "SyEiiJ0WXVdw8de0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "969085fb-df27-494c-8bc4-391957e2e681",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "=false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "c8839fc4-82cc-409a-9e2d-15d320fcdfa8",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "396976151",
        "text": "=🆕 New Support Request!\n\n👤 Name: {{ $('Google Sheets Trigger').first().json['Name'] }}\n📧 Email: {{ $('Google Sheets Trigger').first().json['Email'] }}\n🔧 Type: {{ $('Google Sheets Trigger').first().json['Request type'] }}\n📝 Description: {{ $('Google Sheets Trigger').first().json['Problem description'] }}\n🚨 Priority: {{ $('Google Sheets Trigger').first().json['Priority'] }}\n🕐 Time: {{ $('Google Sheets Trigger').first().json['Отметка времени'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        -96
      ],
      "id": "0455f3d9-11b9-4f70-803d-610f3558fb97",
      "name": "Send a text message",
      "webhookId": "2db164bc-78de-4a21-9671-d13ccabec471",
      "credentials": {
        "telegramApi": {
          "id": "ivN8mmX1fJcBmT6A",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO form_submissions (email, name, request_type, priority, status)\nVALUES (\n  '{{ $('Google Sheets Trigger').first().json['Email'] }}',\n  '{{ $('Google Sheets Trigger').first().json['Name'] }}',\n  '{{ $('Google Sheets Trigger').first().json['Request type'] }}',\n  '{{ $('Google Sheets Trigger').first().json['Priority'] }}',\n  'sent'\n)\nON CONFLICT (email) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        -96
      ],
      "id": "f384a6f5-f9c8-464e-ac55-0981ca012078",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "SyEiiJ0WXVdw8de0",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "07c9d792-b454-45de-8a04-02f90b23ff44",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd1d6465c522dc402fb46b3badb3b61e5a88cd67cc600a6cb11eadcfc831e98a"
  },
  "id": "hXv4XxmtoiToqV1D",
  "tags": []
}